<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://sun2.6789.userapi.com/s/v1/if2/S--vG50MaJ-wpl8BX4g-aMmaRBLhCFKU0vSRU8r2-5NQk-PeSJqbhX-C4vg4cpwXp8dL1waPTVUi7xV-ZbNt8Zlu.jpg?size=200x0&quality=96&crop=150,442,1524,1524&ava=1">
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= current_user.username %></h2>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span><%= current_user.posts.count %></span> posts</li>
        <li><span>12M</span> followers</li>
        <li><span>34</span> following</li>
        <h2 class="name"><%= current_user.first_name + " " + current_user.last_name %></h2>
      </ul>
    </div>
  </div>

<div class="user-tabs">
  <a class="tab active" href=""><i class="fa fa-th"></i>POSTS</a>
</div>


<div class="user-images">
  <% @posts.each do |post|%>
    <% if post.image_url %>
    <div class="wrapper">
    <%= image_tag post.image_url %>
    </div>
  <% end %>
  <% end %>
</div>
</div>
