<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
          <% if @user.image_url %>
        <%= image_tag @user.image_url  %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username %></h2>
        <div class = "text-center">
        <%= link_to "Edit profile",  edit_user_path(current_user), class: "btn btn-secondary btn-sm"  if can_edit_profile?(@user.id) %>
        </div>

      </div>
      <ul class="posts">
        <li><span><%= @user.posts.count %></span> posts</li>
        <li><span><%= @user.followers.count %></span> <%= link_to 'Followers', user_follows_path(@user) %></li>
        <li><span><%= @user.followees.count %></span> <%= link_to 'Following', user_follow_path(@user) %></li>
        <h2 class="name"><%= @user.first_name + " " + @user.last_name %></h2>
      </ul>



      <section id="all-links">
          <% if @user.id == current_user.id %>
              <%= link_to "MyPage", current_user %>
          <% elsif current_user.followees.include?(@user) %>
              <h5><%= button_to "Unfollow", unfollow_user_path, method: "POST" %></h5>
          <% else %>
              <h5><%= button_to "Follow", follow_user_path, method: "POST"  %></h5>
          <% end%>


          <br>


      </section>




    </div>

  </div>

<div class="user-tabs">
  <a class="tab active" href=""><i class="fa fa-th"></i>POSTS</a>
</div>


<div class="user-images">
  <% @posts.each do |post|%>
    <% if post.image_url %>
    <div class="wrapper">
       <%=link_to post_path(post) do %>
    <%= image_tag post.image_url %>
      <% end %>
    </div>
  <% end %>
  <% end %>
</div>
</div>
