<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://sun2.6789.userapi.com/s/v1/if2/S--vG50MaJ-wpl8BX4g-aMmaRBLhCFKU0vSRU8r2-5NQk-PeSJqbhX-C4vg4cpwXp8dL1waPTVUi7xV-ZbNt8Zlu.jpg?size=200x0&quality=96&crop=150,442,1524,1524&ava=1">
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= current_user.username %></h2>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span><%= current_user.posts.count %>"></span> posts</li>
        <li><span>12M</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <h2 class="name"><%= current_user.first_name %></h2>
        <h2 class="name"><%= current_user.last_name %></h2>

</div>

    </div>
  </div>
</div>


<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>

</div>


<div class="user-images">
<div class="wrapper">
  <img src="https://lh3.googleusercontent.com/proxy/YVbmPRvRtnF7JrsiRd9piWmXhpnZ6zBbyfuAwmEB0Tyxn8M6fMRbxgC350CvNTFiH8IDUDg0Z9Jg1tzgu9Zv2s3Vfepc7OELkuHOPKR01tdcnZr8PqvaLvWJ-VBPhuPX1sdC-ikiGsAMOFWt41-mj3dVlzJ4OPVPaGMKN9Q5RzhX4OM0KWPR9ZJjD7Fhl36KNCXyDn0qLrMfqgGZN8dY_hOX5HRrVnH3HHkAw_kX6FcdGv-xvnFl">
</div>
<div class="wrapper">
  <img src="https://lh3.googleusercontent.com/proxy/YVbmPRvRtnF7JrsiRd9piWmXhpnZ6zBbyfuAwmEB0Tyxn8M6fMRbxgC350CvNTFiH8IDUDg0Z9Jg1tzgu9Zv2s3Vfepc7OELkuHOPKR01tdcnZr8PqvaLvWJ-VBPhuPX1sdC-ikiGsAMOFWt41-mj3dVlzJ4OPVPaGMKN9Q5RzhX4OM0KWPR9ZJjD7Fhl36KNCXyDn0qLrMfqgGZN8dY_hOX5HRrVnH3HHkAw_kX6FcdGv-xvnFl">
</div>
<div class="wrapper">
  <img src="https://st2.depositphotos.com/1064024/10769/i/600/depositphotos_107694484-stock-photo-little-prince-illustration.jpg">
</div>
</div>
