<div class="posts">
  <section class="post">
    <div class="user">
      <div class="avatar">
      <%= image_tag @post.user.image.url if @post.user.image.url %>
      </div>

      <div class="username">
      <%= link_to @post.user.username, user_path(@post.user_id)%>
      </div>

    </div>

    <%= image_tag @post.image_url, class: 'main-image' %>
    <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

    <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
    <% else %>
      <%= button_to 'Like', post_likes_path(@post), method: :post %>
    <% end %>


   <div class="description">
     <%= link_to @post.user.username, user_path(@post.user_id)%>
    <p><%= @post.description %>
    </p></div>

    <div class ="comment">
    <h3>Comments:</h3>
    <% @post.comments.each do |comment|%>
    <p>  <strong><%= comment.user.username  %></strong>
    <%= comment.comment %></p>
    <% end %>

        <div class="comment-box">
          <%= form_for Comment.new, html: { multipart: true } do |f|%>

          <%= f.hidden_field :post_id, value: @post.id %>

          <div class="input-group">
            <%= f.text_field :comment, placeholder: "Add comment...", class: "form-control post-comment"%>
            <div class ="input_group-append">
              <%= f.submit "Add", class: "btn btn-success float-right" %>
              <% end %>
              </div>
        </div>
    </div>
</div>
  </section>
</div>
